*{
    padding: 0;border: 0;margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
    border-top: 1px solid #e1e1e1 ;
}
footer ul{
    list-style: none;
    width: 100%;
}
footer ul li{
    display: block;
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}
footer ul li a{
    text-decoration: none;
    color: #585859;
    font-weight: bolder;
    width: 100%;
    display: inline-block;
}
footer ul li a img{
    display: block;
    position: relative;
}
.selectedLi{
    background-color: #ffee40;
    color: #f64a24;
}
.redMessage{
    position: absolute;
    top: 15%;
    width: 10%;
    right: 27%;
}
@media (max-height: 600px) {
    footer{
        height: 60px;
    }
    footer ul li a{
        height: 60px;
        font-size: 12px;
    }
    footer ul li a img{
        height: 26px;
        margin: 10px auto 4px auto;
    }
}
@media (min-height: 600px) {
    footer{
        height: 70px;
    }
    footer ul li a{
        height: 70px;
        font-size: 14px;
    }
    footer ul li a img{
        height: 28px;
        margin: 12px auto 6px auto;
    }
}