* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", helvetica, arial, verdana, tahoma, sans-serif;
}
body{
    width: 100%;
    background-color: #f8f8f8;
}
header{
    position: relative;
    width: 100%;
}
.picBox{
    width: 100%;
    list-style: none;
    overflow: hidden;
    background-size: 100% 100%;
}
.selectedSpan{
    border: 1px solid #ffffff;
}
.picBox li{
    width: 100%;
    float: left;
    position: relative;
}
.picBox img{
    width: 100%;
}
.boxFont{
    width: 96%;
    padding-left: 4%;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    position: absolute;
    bottom: 0;
}
.bgBox{
    width: 100%;
    position: relative;
}
.picIndex{
    position: absolute;
    z-index: 9;
    bottom: 0;
}
.picIndex span{
    display: inline-block;
    background-color: #ffffff;
}
.selected{
    display: inline-block;
    width: 0;
    height: 0;
}
.selectedP{
    line-height: 40px;
    padding: 0 3%;
    background-color: #eee;
    color: #666;
    font-size: 12px;
    margin-bottom: 6px;
}
.selectedP span{
    padding: 4px 8px;
    background-color: #e0485e;
    font-size: 12px !important;
    color: #ffffff;
    margin-left: 8px;
}
.head-menu{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
.head-menu ul{
    list-style: none;
    width: 100%;
}
.head-menu ul li{
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
}
.second{
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.head-menu ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: inline-block;
}
.head-menu ul li a img{
    display: block;
    position: relative;
}
.body-menu{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;
    border-top:1px solid #e1e1e1;
}

.body-menu ul{
    list-style: none;
    width: 100%;
    border-bottom:1px solid #e1e1e1;
}
.body-menu ul li{
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
/*     margin-bottom: 5px; */
}
.body-menu ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: inline-block;
    
    border-right:1px solid #e1e1e1;
}
.body-menu ul li a img{
    display: block;
    position: relative;
}
.notice{
/*     position: fixed; */
    width: 100%;
/*     margin-left: 4%; */
    text-align: left;
}
.notice_left{
    float: left;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}
.notice_left img{
    width: 60%;
    display: inline-block;
    margin-left: 20%;
    vertical-align: middle;
}
#moocBox {
    width: 90%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
#moocBox ul li a{
    text-decoration: none;
    color: #79a8f8;
}
.phone{
    position: fixed;
    width: 12%;
    right: 2%;
    z-index: 9;
    bottom: 20%;
}
@media (max-height: 600px) {
    .picBox{
        height: 140px;
    }
    .picBox img{
        height: 140px;
    }
    .boxFont{
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .picIndex{
        right: 10px;
        padding-bottom: 12px;
        height: 6px;
        line-height: 6px;
    }
    .picIndex span{
        width: 4px;
        height: 4px;
        border-radius: 8px;
        margin: 0 2px;
    }
    .head-menu{
        margin-top: 12px;
        padding: 10px 0;
    }
    .head-menu ul{
        height: 55px;
    }
    .head-menu ul li a{
        font-size: 12px;
    }
    .head-menu ul li a img{
        width: 20%;
        margin: 8px auto 8px auto;
    }
    .head-menu ul li:first-of-type a img,.head-menu ul li:last-of-type a img{
        margin-top: 11px !important; 
    }
    .body-menu{
/*         padding-top: 15px; */
    }
    .menu_tit{
		font-size:16px;
		margin:10px 0;
		margin-left:22px;
	}
/*     .body-menu ul{ */
/*         height: 180px; */
/*     } */
    .body-menu ul li a{
        height: 90px;
        font-size: 12px;
    }
    .body-menu ul li a img{
        width: 30%;
        margin: 8px auto 10px auto;
        margin-top:20px;
    }
    #moocBox ul li a{
        font-size:14px; 
    }
    .fill{
        height: 60px;
    }
    .notice{
        margin:10px 0;
    }
}
@media (min-height: 600px) {
    .picBox{
        height: 160px;
    }
    .picBox img{
        height: 160px;
    }
    .boxFont{
        height: 36px;
        line-height: 36px;
        font-size: 13px;
    }
    .picIndex{
        right: 14px;
        height: 7px;
        padding-bottom: 13px;
        line-height: 7px;
    }
    .picIndex span{
        width: 5px;
        height: 5px;
        border-radius: 8px;
        margin: 0 2px;
    }
    .head-menu{
        margin-top: 15px;
        padding: 12px 0;
    }
    .head-menu ul{
        height: 60px;
    }
    .head-menu ul li a{
        font-size: 14px;
    }
    .head-menu ul li a img{
        width: 20%;
        margin: 10px auto 7px auto;
    }
    .head-menu ul li:first-of-type a img,.head-menu ul li:last-of-type a img{
        margin-top: 14px !important; 
    }
    .body-menu{
/*         padding-top: 20px; */
    }
    .menu_tit{
		font-size:18px;
		margin:10px 0;
		margin-left:28px;
	}
/*     .body-menu ul{ */
/*         height: 220px; */
/*     } */
    .body-menu ul li a{
        height: 110px;
        font-size: 14px;
    }
    .body-menu ul li a img{
        width: 30%;
        margin: 10px auto 12px auto;
        margin-top:25px;
    }
        #moocBox ul li a{
        font-size:16px; 
    }
    .fill{
        height: 70px;
    }
    .notice{
        margin:10px 0;
    }
}