*{
    margin:0;
    padding: 0;
    border: 0;
}
body{
	position:relative;
    width:100%;
}
article{
    width: 100%;
    position: relative;
}
@media (max-height: 600px) {
    .tit{
        position: relative;
        height: 140px;
        text-align: center;  
    }
    h5{
        position: relative;
        top: 70px;
        width: 70%;
        margin-left: 15%;
        font-size: 15px;
        font-family: "SimSun",sans-serif;
        font-weight: normal;
        color: #bbbbbb;
    }
    form{
        position: relative;
        width: 90%;
        height: 353px;
        margin-left: 5%;
    }
    .input1,.input2,.input3{
        position: relative;
        width: 90%;
        height: 65px;
        margin: 0 auto;
        border-bottom: solid 1px #bbbbbb ;
    }
    .logo1{
        position: relative;
        margin-top: 38px;
        margin-left: 5px;
        width: 12px;
        height: 20px;
    }
    .text1{
        position: relative;
        height:20px;
        width: 70%;
        font-size: 14px;
        outline: none;
        left: 5px;
        bottom: 3px;
    }
    .logo2{
        position:relative;
        margin-top: 38px;
        margin-left: 1px;
        height: 20px;
        width: 20px;
    }
    .text2{
        position: relative;
        height:20px;
        width: 50%;
        font-size: 14px;
        outline: none;
        left: 3px;
        bottom: 3px;
    }
    .submit1{
        position: absolute;
        height: 30px;
        line-height:30px;
        color:#ffffff;
        font-size:14px;
        width: 80px;
        text-align: center;
        background-color: #e0485e;
        bottom: 0;
        right: 0;
    }
    #span1{
        position: relative;
        color: white;
        top: 6px;
        font-family: "SimSun",sans-serif;
        font-size: 15px;
    }
    .logo3{
        position: relative;
        margin-top: 38px;
        margin-left: 3px;
        width: 18px;
        height: 18px;
    }
    .text3{
        position: relative;
        height:20px;
        width: 50%;
        font-size: 14px;
        outline: none;
        left: 3px;
        bottom: 3px;
    }
    .input4{
        position: relative;
        width: 90%;
        margin-top: 60px;
        height: 40px;
        margin-left: 5%;
        text-align: center;
        background-color: #e0485e;
    }
    #span2{
        position: relative;
        color: white;
        font-family: "SimSun",sans-serif;
        top: 8px;
        font-size: 20px;
        letter-spacing: 10px;
    }
    .link{
        position: relative;
        width: 100%;
        margin-top:20px;
        margin-bottom: 15px;
        overflow: hidden;
        text-align: center;
    }
    .link a{
        position:relative;
        display:inline-block;
        text-align:center;
        font-size: 12px;
        color: black;
        width: 75%;
        text-decoration: none;
    }
}
@media (min-height: 600px) {
    .tit{
        position: relative;
        height: 150px;
        text-align: center;
        padding: 0;
        margin-top: 0;
    }
    h5{
        position: relative;
        top: 80px;
        width: 76%;
        padding-left: 12%;
        font-size: 18px;
        font-family: "SimSun",sans-serif;
        font-weight: normal;
        color: #bbbbbb;
    }
    form{
        position: relative;
        width: 90%;
        height: 400px;
        margin-left: 5%;
    }
    .input1,.input2,.input3{
        position: relative;
        width: 90%;
        height: 75px;
        margin: 0 auto;
        padding: 0;
        border-bottom: solid 1px #bbbbbb ;
    }
    .logo1{
        position: relative;
        padding: 0;
        margin-top: 45px;
        margin-left: 5px;
        height: 25px;
    }
    .text1{
        position: relative;
        height:30px;
        width: 70%;
        border: 0;
        font-size: 16px;
        outline: none;
        left: 5px;
        bottom: 6px;
    }
    .logo2{
        position:relative;
        padding:0;
        margin-top: 45px;
        margin-left: 1px;
        width: 25px;
    }
    .text2{
        position: relative;
        height:30px;
        width: 50%;
        border: 0;
        font-size: 16px;
        outline: none;
        left: 3px;
        bottom: 6px;
    }
    .submit1{
        position: absolute;
        height: 35px;
        line-height:35px;
        color:#ffffff;
        font-size:16px;
        width: 95px;
        border: 0;
        text-align: center;
        background-color: #e0485e;
        bottom: 0;
        right: 0;
    }
    #span1{
        position: relative;
        color: white;
        top: 6px;
        font-family: "SimSun",sans-serif;
        font-size: 15px;
    }
    .logo3{
        position: relative;
        padding: 0;
        margin-top: 45px;
        margin-left: 3px;
        height: 22px;
    }
    .text3{
        position: relative;
        height:30px;
        width: 50%;
        border: 0;
        font-size: 16px;
        outline: none;
        left: 3px;
        bottom: 6px;
    }
    .input4{
        position: relative;
        width: 90%;
        margin-top: 60px;
        height: 50px;
        margin-left: 5%;
        text-align: center;
        background-color: #e0485e;
    }
    #span2{
        position: relative;
        color: white;
        font-family: "SimSun",sans-serif;
        line-height: 50px;
        font-size: 21px;
    }
    .link{
        position: relative;
        width: 100%;
        margin-top:28px;
        margin-bottom: 15px;
        overflow: hidden;
        text-align: center;
    }
    .link a{
        position:relative;
        display:inline-block;
        font-size: 12px;
        color: black;
        width: 75%;
        text-decoration: none;
    }
}